/* Variables and general styles, can be overwritten or modified */

* {
    --background_color: #F5F5F5;
    --text_color: #4D4D4D;
    --test: black;
    --default_horizontal_margin: 50px; 
    --default_vertical_margin: 50px; 
    --red_gradient: radial-gradient(ellipse at center,rgba(233, 76, 76, 0.95) 0%, rgba(255, 87, 87, 0.8) 48%, rgba(255, 151, 151, 0.7) 100%);
    --yellow_gradient: radial-gradient(ellipse at center,rgba(255, 239, 210, 1) 0%, rgba(253, 236, 202, 1) 25%, rgba(255, 249, 216, 1) 50%, rgba(254, 237, 205, 0.95) 75%, rgba(255, 220, 189, 0.85) 100%);
    --purple_gradient: radial-gradient(ellipse at center,rgba(164, 132, 232, 1) 0%, rgba(161, 128, 230, 0.9 ) 33%, rgba(176, 144, 227, 0.7) 68%, rgba(196, 179, 228, 1) 100%);
    --pink_gradient:  radial-gradient(ellipse at center,rgba(250, 118, 232, 1) 0%, rgba(246, 123, 210, 1) 20%, rgba(255, 123, 195, 0.9) 50%, rgba(249, 132, 212, 0.8) 76%, rgba(220, 151, 230, 0.85) 100%);
    margin: 0;
}


html {
   background-color: var(--background_color);  
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--text_color);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
nav {
    display: flex;
    align-items: center;
    margin: var(--default_vertical_margin) var(--default_horizontal_margin) 0 0;

}

a {
    text-decoration: none;
    color: var(--text_color);

}

/* Header styles */

.logo {
    margin: var(--default_vertical_margin) 0 0 var(--default_horizontal_margin);
}

.nav_link {
    padding-top: 42px;
    margin: 0 20px;
}

/* Body styles */

.skeleton {
    display: grid;
    margin-top: calc(var(--default_vertical_margin) * 2);
    grid-template-columns: 1fr 1fr;
}

.skeleton div a{
    display: flex;
    gap: var(--default_horizontal_margin);
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 25vw;
}

.skeleton div p {
    font-size: 32px;
    display: inline;
}

.redgradient {
    background: var(--red_gradient);
}

.yellowgradient {
    background: var(--yellow_gradient);
}

.pinkgradient {
    background: var(--pink_gradient);
}

.purplegradient {
    background: var(--purple_gradient);
}